/*电子钟字体*/
@font-face {
  font-family: 'UnidreamLED';
  src: url('../font/UnidreamLED.TTF');
  font-display: swap;
}
div#runtime {
  width: 330px;
  margin: auto;
  color: #ffffff;
  padding-inline: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'UnidreamLED';
}
[data-theme="dark"] div#runtime {
  color: #ffffffd0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  animation: flashlight 1s linear infinite alternate;
}
/*悬停显示徽标提示语*/
a.github-badge:hover:before {
  position: fixed;
  width: fit-content;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
  content: attr(data-title);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: var(--text-bg-hover);
}
[data-theme=dark] a.github-badge:hover:before {
  background-color: rgba(0, 0, 0, 0);
}